table.prices-tier.items {
	table-layout: fixed;
	text-align: center;
}
table.prices-tier.items td, table.prices-tier.items th {
	padding: 5px;
}
table.prices-tier.items thead tr:nth-child(2n) {
	background: #ddd;
}
table.prices-tier.items tbody tr:nth-child(2n+1) {
	background: #eee;
}
table.prices-tier.items tbody tr:nth-child(2n) {
	background: #f8f8f8;
}
table.prices-tier.items th, table.prices-tier.items td {
	vertical-align: middle;
}
th.grid-title {
	font-size: 16px;
	padding: 5px;
}
tr.text-center th {
	text-align: center;
}
.tier-qty-reset {
	background: url('../images/refresh.png') no-repeat scroll center / 24px;
	height: 30px;
	width: 30px;
	display: block;
	float: right;
	cursor: pointer;
}
